# Android
*.apk
*.aab
*.ap_
*.a_
*.apks
build/
*/build/
local.properties
.gradle/
captures/
.idea/
*.iml
*.hprof

# Keystore
*.jks
*.keystore

# iOS
iosApp/build/
iosApp/DerivedData/
*.hmap
*.ipa
*.dsym
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# KMP
composeApp/build/
composeApp/release/
.cxx/
**/build/
.kotlin/
/build/
/composeApp/build/
/iosApp/build/
/iosApp/Pods/
/iosApp/*.xcworkspace
/iosApp/DerivedData
*.xcworkspace
xcuserdata
DerivedData
.DS_Store

